# ==========================================
# C/C++ 기본 빌드 결과물
# ==========================================
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# ==========================================
# IDE 및 빌드 환경 전용 찌꺼기 및 설정 파일
# ==========================================
# 1. 임시 숨김 폴더
.vs/

# 2. 빌드 결과물이 담기는 폴더
Debug/
Release/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# 3. 사용자 개인 화면/환경 설정 파일
*.user
*.suo
*.userosscache
*.sln.docstates

# 4. 캐시 및 로그 파일
*.ncb
*.sdf
*.opensdf
*.sqlite3
*.VC.db
*.VC.opendb
*.log
*.tlog/
*.ipch